.tw-invisible {
  visibility:hidden
}
.tw-fixed {
  position:fixed
}
.tw-bottom-4 {
  bottom:1rem
}
.tw-bottom-\[50\%\] {
  bottom:50%
}
.tw-right-4 {
  right:1rem
}
.tw-top-0 {
  top:0
}
.tw-top-4 {
  top:1rem
}
.tw-z-\[200\] {
  z-index:200
}
.tw-mb-4 {
  margin-bottom:1rem
}
.tw-h-\[32px\] {
  height:32px
}
.tw-w-\[32px\] {
  width:32px
}
@keyframes tw-fade-in-forwards {
  0% {
    background-color:#fff0
  }
  to {
    background-color:#fff
  }
}
.tw-animate-fade-in-forwards {
  animation:tw-fade-in-forwards .3s forwards
}
.tw-gap-4 {
  gap:1rem
}
.tw-overflow-y-hidden {
  overflow-y:hidden
}
.tw-rounded-\[4px\] {
  border-radius:4px
}
.tw-border-none {
  border-style:none
}
.tw-border-\[rgba\(255\,255\,255\,0\.2\)\] {
  border-color:#fff3
}
.tw-border-line {
  border-color:var(--line-color)
}
.tw-border-line-x-strong {
  border-color:var(--line-color-x-strong)
}
.tw-bg-\[\#222\] {
  --tw-bg-opacity: 1;
  background-color:rgb(34 34 34 / var(--tw-bg-opacity))
}
.tw-px-11 {
  padding-left:2.75rem;
  padding-right:2.75rem
}
.tw-px-4 {
  padding-left:1rem;
  padding-right:1rem
}
.tw-py-16 {
  padding-top:4rem;
  padding-bottom:4rem
}
.tw-py-8 {
  padding-top:2rem;
  padding-bottom:2rem
}
.tw-text-center {
  text-align:center
}
.tw-text-xl {
  font-size:1.5rem;
  line-height:2rem
}
.tw-text-\[\#4a90e2\] {
  --tw-text-opacity: 1;
  color:rgb(74 144 226 / var(--tw-text-opacity))
}
.tw-text-black-40 {
  --tw-text-opacity: 1;
  color:rgb(179 181 181 / var(--tw-text-opacity))
}
.tw-text-text-x-weak {
  color:var(--text-color-x-weak)
}
.tw-text-white {
  --tw-text-opacity: 1;
  color:rgb(255 255 255 / var(--tw-text-opacity))
}
.tw-transition-opacity {
  transition-property:opacity;
  transition-timing-function:cubic-bezier(.4,0,.2,1);
  transition-duration:.15s
}
.hover\:tw-border-black:hover {
  --tw-border-opacity: 1;
  border-color:rgb(45 50 50 / var(--tw-border-opacity))
}
.tw-group:hover .group-hover\:tw-visible {
  visibility:visible
}
.tw-group:hover .group-hover\:tw-text-black {
  --tw-text-opacity: 1;
  color:rgb(45 50 50 / var(--tw-text-opacity))
}
.tw-group:hover .group-hover\:tw-text-violet-60 {
  --tw-text-opacity: 1;
  color:rgb(130 95 255 / var(--tw-text-opacity))
}
*,
:before,
:after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(147 197 253 / .5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: 
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(147 197 253 / .5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: 
}
.tw-pointer-events-none {
  pointer-events:none
}
.tw-pointer-events-auto {
  pointer-events:auto
}
.tw-absolute {
  position:absolute
}
.tw-relative {
  position:relative
}
.tw-bottom-\[calc\(100\%-4px\)\] {
  bottom:calc(100% - 4px)
}
.tw-left-0 {
  left:0
}
.tw-right-\[-3px\] {
  right:-3px
}
.tw-top-full {
  top:100%
}
.tw-isolate {
  isolation:isolate
}
.tw-z-10 {
  z-index:10
}
.tw-z-20 {
  z-index:20
}
.tw-z-\[2\] {
  z-index:2
}
.tw-m-0 {
  margin:0
}
.tw-my-4 {
  margin-top:1rem;
  margin-bottom:1rem
}
.tw-mr-2 {
  margin-right:.5rem
}
.tw-mt-1 {
  margin-top:.25rem
}
.tw-mt-3 {
  margin-top:.75rem
}
.tw-mt-5 {
  margin-top:1.25rem
}
.tw-mt-8 {
  margin-top:2rem
}
.tw-flex {
  display:flex
}
.tw-inline-flex {
  display:inline-flex
}
.tw-h-0 {
  height:0px
}
.tw-h-6 {
  height:1.5rem
}
.tw-h-7 {
  height:1.75rem
}
.tw-h-8 {
  height:2rem
}
.tw-h-9 {
  height:2.25rem
}
.tw-h-\[72px\] {
  height:72px
}
.tw-h-full {
  height:100%
}
.tw-min-h-\[10px\] {
  min-height:10px
}
.tw-w-0 {
  width:0px
}
.tw-w-6 {
  width:1.5rem
}
.tw-w-8 {
  width:2rem
}
.tw-w-9 {
  width:2.25rem
}
.tw-w-\[300px\] {
  width:300px
}
.tw-w-fit {
  width:-moz-fit-content;
  width:fit-content
}
.tw-w-full {
  width:100%
}
.tw-min-w-0 {
  min-width:0px
}
.tw-min-w-\[400px\] {
  min-width:400px
}
.tw-flex-1 {
  flex:1 1 0%
}
.tw-flex-auto {
  flex:1 1 auto
}
.tw-flex-shrink-0 {
  flex-shrink:0
}
.tw-rotate-90 {
  --tw-rotate: 90deg;
  transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
@keyframes tw-pulse {
  50% {
    opacity:.5
  }
}
.tw-animate-pulse {
  animation:tw-pulse 2s cubic-bezier(.4,0,.6,1) infinite
}
.\!tw-cursor-not-allowed {
  cursor:not-allowed!important
}
.tw-cursor-grab {
  cursor:grab
}
.tw-cursor-grabbing {
  cursor:grabbing
}
.tw-cursor-pointer {
  cursor:pointer
}
.tw-flex-col {
  flex-direction:column
}
.tw-items-start {
  align-items:flex-start
}
.tw-items-center {
  align-items:center
}
.tw-justify-end {
  justify-content:flex-end
}
.tw-justify-center {
  justify-content:center
}
.tw-justify-between {
  justify-content:space-between
}
.tw-gap-0 {
  gap:0px
}
.tw-gap-0\.5 {
  gap:.125rem
}
.tw-gap-1 {
  gap:.25rem
}
.tw-gap-2 {
  gap:.5rem
}
.tw-gap-3 {
  gap:.75rem
}
.tw-gap-\[2px\] {
  gap:2px
}
.tw-gap-x-3 {
  -moz-column-gap:.75rem;
  column-gap:.75rem
}
.tw-space-x-1>:not([hidden])~:not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right:calc(.25rem * var(--tw-space-x-reverse));
  margin-left:calc(.25rem * calc(1 - var(--tw-space-x-reverse)))
}
.tw-space-x-2>:not([hidden])~:not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right:calc(.5rem * var(--tw-space-x-reverse));
  margin-left:calc(.5rem * calc(1 - var(--tw-space-x-reverse)))
}
.tw-self-start {
  align-self:flex-start
}
.tw-overflow-hidden {
  overflow:hidden
}
.tw-overflow-y-auto {
  overflow-y:auto
}
.tw-text-ellipsis {
  text-overflow:ellipsis
}
.tw-whitespace-nowrap {
  white-space:nowrap
}
.tw-rounded {
  border-radius:var(--radius)
}
.tw-rounded-full {
  border-radius:9999px
}
.tw-rounded-sm {
  border-radius:.125rem
}
.tw-border {
  border-width:var(--line-width)
}
.tw-border-b {
  border-bottom-width:var(--line-width)
}
.tw-border-b-4 {
  border-bottom-width:4px
}
.tw-border-l-4 {
  border-left-width:4px
}
.tw-border-t {
  border-top-width:var(--line-width)
}
.tw-border-t-4 {
  border-top-width:4px
}
.tw-border-solid {
  border-style:solid
}
.tw-border-dashed {
  border-style:dashed
}
.\!tw-border-red-50 {
  --tw-border-opacity: 1 !important;
  border-color:rgb(255 128 102 / var(--tw-border-opacity))!important
}
.tw-border-blank-state-line {
  --tw-border-opacity: 1;
  border-color:rgb(163 165 165 / var(--tw-border-opacity))
}
.tw-border-blank-state-line-hover {
  --tw-border-opacity: 1;
  border-color:rgb(26 28 28 / var(--tw-border-opacity))
}
.tw-border-box-selected-inverse {
  border-color:var(--box-selected-inverse-color)
}
.tw-border-button-border {
  border-color:var(--button-border-color)
}
.tw-border-b-line {
  border-bottom-color:var(--line-color)
}
.tw-border-b-transparent {
  border-bottom-color:transparent
}
.tw-border-t-black-10 {
  --tw-border-opacity: 1;
  border-top-color:rgb(234 235 235 / var(--tw-border-opacity))
}
.tw-border-t-transparent {
  border-top-color:transparent
}
.tw-bg-base {
  background-color:var(--base-color)
}
.tw-bg-base-alt {
  background-color:var(--base-color-alt)
}
.tw-bg-blank-state-pressed-inverse {
  --tw-bg-opacity: 1;
  background-color:rgb(241 241 241 / var(--tw-bg-opacity))
}
.tw-bg-blank-state-shaded-inverse {
  --tw-bg-opacity: 1;
  background-color:rgb(250 250 250 / var(--tw-bg-opacity))
}
.tw-bg-blank-state-weak-inverse {
  --tw-bg-opacity: 1;
  background-color:rgb(255 255 255 / var(--tw-bg-opacity))
}
.tw-bg-box-neutral-hover {
  background-color:var(--box-neutral-color-hover)
}
.tw-bg-box-neutral-strong-inverse {
  background-color:var(--box-neutral-strong-inverse-color)
}
.tw-bg-box-selected-pressed {
  background-color:var(--box-selected-color-pressed)
}
.tw-bg-box-selected-strong {
  background-color:var(--box-selected-strong-color)
}
.tw-bg-button-background {
  background-color:var(--button-background-color)
}
.tw-bg-button-background-pressed {
  background-color:var(--button-background-color-pressed)
}
.tw-bg-red-50 {
  --tw-bg-opacity: 1;
  background-color:rgb(255 128 102 / var(--tw-bg-opacity))
}
.tw-bg-white {
  --tw-bg-opacity: 1;
  background-color:rgb(255 255 255 / var(--tw-bg-opacity))
}
.tw-p-1 {
  padding:.25rem
}
.tw-p-1\.5 {
  padding:.375rem
}
.tw-p-2 {
  padding:.5rem
}
.tw-p-4 {
  padding:1rem
}
.tw-p-7 {
  padding:1.75rem
}
.tw-p-\[6px\] {
  padding:6px
}
.tw-px-0 {
  padding-left:0;
  padding-right:0
}
.tw-px-2 {
  padding-left:.5rem;
  padding-right:.5rem
}
.tw-px-2\.5 {
  padding-left:.625rem;
  padding-right:.625rem
}
.tw-px-5 {
  padding-left:1.25rem;
  padding-right:1.25rem
}
.tw-px-\[1px\] {
  padding-left:1px;
  padding-right:1px
}
.tw-py-0 {
  padding-top:0;
  padding-bottom:0
}
.tw-py-2 {
  padding-top:.5rem;
  padding-bottom:.5rem
}
.tw-py-3 {
  padding-top:.75rem;
  padding-bottom:.75rem
}
.tw-pl-12 {
  padding-left:3rem
}
.tw-pl-14 {
  padding-left:3.5rem
}
.tw-pl-7 {
  padding-left:1.75rem
}
.tw-pt-5 {
  padding-top:1.25rem
}
.tw-text-left {
  text-align:left
}
.tw-text-right {
  text-align:right
}
.tw-font-body {
  font-family:var(--body-family)
}
.tw-font-sans {
  font-family:Space Grotesk Frontify,Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol
}
.tw-text-\[13px\] {
  font-size:13px
}
.tw-text-body-small {
  font-size:var(--body-size-small);
  line-height:var(--body-size-small-line-height)
}
.tw-text-s {
  font-size:.875rem;
  line-height:1rem
}
.tw-text-sm {
  font-size:.875rem;
  line-height:1.25rem
}
.tw-text-xs {
  font-size:.813rem;
  line-height:1rem
}
.tw-font-bold {
  font-weight:700
}
.tw-font-medium {
  font-weight:500
}
.tw-font-normal {
  font-weight:400
}
.tw-leading-4 {
  line-height:1rem
}
.tw-leading-5 {
  line-height:1.25rem
}
.tw-text-blank-state-shaded {
  --tw-text-opacity: 1;
  color:rgb(114 116 116 / var(--tw-text-opacity))
}
.tw-text-box-neutral-strong {
  color:var(--box-neutral-strong-color)
}
.tw-text-box-selected-inverse {
  color:var(--box-selected-inverse-color)
}
.tw-text-box-selected-strong-inverse {
  color:var(--box-selected-strong-inverse-color)
}
.tw-text-red-60 {
  --tw-text-opacity: 1;
  color:rgb(255 55 90 / var(--tw-text-opacity))
}
.tw-text-text {
  color:var(--text-color)
}
.tw-text-text-negative {
  color:var(--text-color-negative)
}
.tw-text-text-weak {
  color:var(--text-color-weak)
}
.tw-opacity-0 {
  opacity:0
}
.tw-opacity-100 {
  opacity:1
}
.tw-shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}
.tw-outline-none {
  outline:2px solid transparent;
  outline-offset:2px
}
.tw-outline {
  outline-style:solid
}
.tw-outline-1 {
  outline-width:1px
}
.tw-outline-offset-1 {
  outline-offset:1px
}
.tw-outline-offset-2 {
  outline-offset:2px
}
.tw-outline-offset-\[1px\] {
  outline-offset:1px
}
.tw-outline-box-selected-inverse {
  outline-color:var(--box-selected-inverse-color)
}
.tw-outline-line {
  outline-color:var(--line-color)
}
.tw-outline-violet-60 {
  outline-color:#825fff
}
.tw-transition {
  transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
  transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
  transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
  transition-timing-function:cubic-bezier(.4,0,.2,1);
  transition-duration:.15s
}
.tw-transition-transform {
  transition-property:transform;
  transition-timing-function:cubic-bezier(.4,0,.2,1);
  transition-duration:.15s
}
.first\:tw-rounded-bl:first-child {
  border-bottom-left-radius:var(--radius)
}
.first\:tw-rounded-tl:first-child {
  border-top-left-radius:var(--radius)
}
.first\:tw-rounded-tr:first-child {
  border-top-right-radius:var(--radius)
}
.last\:tw-rounded-bl:last-child {
  border-bottom-left-radius:var(--radius)
}
.last\:tw-rounded-br:last-child {
  border-bottom-right-radius:var(--radius)
}
.last\:tw-rounded-tr:last-child {
  border-top-right-radius:var(--radius)
}
.focus-within\:tw-opacity-100:focus-within {
  opacity:1
}
.focus-within\:tw-outline:focus-within {
  outline-style:solid
}
.hover\:tw-border-blank-state-line-hover:hover {
  --tw-border-opacity: 1;
  border-color:rgb(26 28 28 / var(--tw-border-opacity))
}
.hover\:tw-bg-black-10:hover {
  --tw-bg-opacity: 1;
  background-color:rgb(234 235 235 / var(--tw-bg-opacity))
}
.hover\:tw-bg-blank-state-hover-inverse:hover {
  --tw-bg-opacity: 1;
  background-color:rgb(255 255 255 / var(--tw-bg-opacity))
}
.hover\:tw-bg-box-neutral-hover:hover {
  background-color:var(--box-neutral-color-hover)
}
.hover\:tw-bg-box-neutral-strong-inverse-hover:hover {
  background-color:var(--box-neutral-strong-inverse-color-hover)
}
.hover\:tw-bg-box-selected-hover:hover {
  background-color:var(--box-selected-color-hover)
}
.hover\:tw-bg-button-background-hover:hover {
  background-color:var(--button-background-color-hover)
}
.hover\:tw-bg-button-background-pressed:hover {
  background-color:var(--button-background-color-pressed)
}
.hover\:tw-text-blank-state-hover:hover {
  --tw-text-opacity: 1;
  color:rgb(26 28 28 / var(--tw-text-opacity))
}
.hover\:tw-text-box-neutral-inverse-hover:hover {
  color:var(--box-neutral-inverse-color-hover)
}
.hover\:tw-outline:hover {
  outline-style:solid
}
.focus-visible\:tw-z-10:focus-visible {
  z-index:10
}
.focus-visible\:tw-opacity-100:focus-visible {
  opacity:1
}
.focus-visible\:tw-ring-blue:focus-visible {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(94 158 214 / var(--tw-ring-opacity)) 
}
.active\:tw-border-blank-state-line-hover:active {
  --tw-border-opacity: 1;
  border-color:rgb(26 28 28 / var(--tw-border-opacity))
}
.active\:tw-bg-blank-state-pressed-inverse:active {
  --tw-bg-opacity: 1;
  background-color:rgb(241 241 241 / var(--tw-bg-opacity))
}
.active\:tw-bg-box-neutral-strong-inverse-pressed:active {
  background-color:var(--box-neutral-strong-inverse-color-pressed)
}
.active\:tw-bg-box-selected-pressed:active {
  background-color:var(--box-selected-color-pressed)
}
.active\:tw-bg-button-background-pressed:active {
  background-color:var(--button-background-color-pressed)
}
.active\:tw-text-blank-state-pressed:active {
  --tw-text-opacity: 1;
  color:rgb(8 8 8 / var(--tw-text-opacity))
}
.tw-group:hover .group-hover\:tw-text-box-neutral-inverse-hover {
  color:var(--box-neutral-inverse-color-hover)
}
.tw-group:hover .group-hover\:tw-opacity-100 {
  opacity:1
}
.tw-group:focus .group-focus\:tw-opacity-100 {
  opacity:1
}
.\[\&\:not\(\:first-child\)\]\:tw-border-l-0:not(:first-child) {
  border-left-width:0px
}
.\[\&\:not\(\:first-child\)\]\:tw-border-t-0:not(:first-child) {
  border-top-width:0px
}
.\[\&\>\*\]\:tw-pointer-events-none>* {
  pointer-events:none
}
